version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  api:
    build: .
    container_name: ocr_api
    command: uvicorn app.api.server:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
    volumes:
      - .:/app
      - easyocr_cache:/root/.EasyOCR
      - db_data:/app/data

  worker:
    build: .
    container_name: ocr_worker
    command: python app/workers/consumer.py
    depends_on:
      - rabbitmq
    restart: unless-stopped
    volumes:
      - .:/app
      - easyocr_cache:/root/.EasyOCR
      - db_data:/app/data

volumes:
  easyocr_cache:
  db_data:
